@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

h1 {
  font-family: 'Rowdies', monospace;
}

.cursor-pointer {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cursor-pointer:hover {
  transform: scale(1.01); /* Förstoringseffekt */
  box-shadow: rgba(156, 241, 224, 0.35) 0px 5px 15px;
}
